<% title App.model_name.human %>

<%= link_to "Gemüseabo", combos_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for app in @apps %>
    <tr>
      <td>
        <%= link_to app.name, combos_path %>
        <%#= link_to app.name, get_app_path(app.name) %>
      </td>
    </tr>
  <% end %>
</table>
